@use './mixins';

.hero_section {
    width: 100%;
    padding: 10px 2%;
    margin-top: 7%;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: calc(100% * (number of slides + 2));
        
        .carousel-item {
            min-width: 100vw; // Use viewport width for full-width slides
            height: 66vh;
            border-radius: 10px;
            flex-shrink: 0;
            display: flex;
            align-items: safe;
            justify-content: end;
            position: relative;
            
            img {
                position: absolute;
                width: 100%;
                height: auto; // Maintain aspect ratio
                border-radius: 10px;
                z-index: -1;
            }

            .item-content {
                font-size: 1.4rem;
                text-align: end;
                color: $warm-brown;
                margin: 10% 10%;
                cursor: default;
                

                button {
                    @include order-now-btn;
                }
            }
        }
    }

    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $light-olive-green;
        color: white;
        border: none;
        font-size: 2rem;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

        &.prev {
            left: 2%;
            border-radius: 100px;
        }

        &.next {
            right: 2%;
            border-radius: 100px;
        }
    }
}

.product_section{
    width: 100%;
    margin-top: 5%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $warm-brown;
    gap: 20px;
    // color: $olive-green;
    font-size: 2.2rem;
    
    .product-content{
        width: 100%;
        text-align: center;
        

        .product-images{
            display: flex;
            justify-content: center;
            gap: 5%;
            margin: 2% 0;

            img{
                width: 150px;
                border-radius: 50%;
                border: 3px solid $warm-brown;
            }
        }

        .product-features{

            ul{
                display: flex;
                gap: 10px;
                text-align: center;
                align-items: center;
                justify-content: space-evenly;
                font-size: 1.2rem;
                font-weight: $medium;
                font-family: $body-font;

                li{
                    color: $netural-gray;
                }
            }
            .product-bottom{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: end;
                position: relative;
                
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 80%;
                    object-fit: contain;
                    z-index: -1;
                }
                div{
                    margin-top: 10%;
                    margin-right: 2%;
                    text-align: end;

                    button{
                        @include order-now-btn;
                    }
                }
            }
        }
        
    }
}


