

// colors
$soft-cream: #F7F4F1;
$light-aqua: #A4D3E1;
$warm-brown: #8B5E3C;
$olive-green: #7D8F59;
$light-olive-green: #91a367;
$netural-gray: #B0B0B0;


// Typography
$heading-font: "Bree Serif", serif;
$body-font: "Noto Sans", sans-serif;


// font weights
$regular: 400;
$medium: 550;


// others

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: $soft-cream;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{ 
    font-family: $heading-font;
    font-weight: $medium;
}

p{
    font-family: $body-font;
}