@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F7F4F1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Bree Serif", serif;
  font-weight: 500;
}

p {
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo_section {
  cursor: pointer;
  padding-top: 1%;
}

.navLinks {
  width: auto;
  padding: 2%;
  border-radius: 20px;
  background-color: #F7F4F1;
}

.navList {
  display: flex;
  gap: 2rem;
  color: #8B5E3C;
  font-family: "Bree Serif", serif;
  font-weight: 500;
}
.navList ul {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease all;
  font-size: 1.3rem;
}
.navList ul:hover {
  color: #7D8F59;
  transition: 0.3s ease all;
}

@media (max-width: 676px) {
  .logo_section a img {
    width: 50px !important;
  }
  .navList {
    gap: 1rem !important;
  }
  .navList ul {
    font-size: 0.8rem !important;
  }
}
.hidden {
  display: none;
}
@media (max-width: 868px) {
  .hidden {
    display: block;
  }
}
@media (max-width: 676px) {
  .hidden {
    display: block;
  }
}

.hero_section {
  width: 100%;
  padding: 10px 2%;
  margin-top: 7%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.carousel .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * (number of slides + 2));
}
.carousel .carousel-inner .carousel-item {
  min-width: 100vw;
  height: 66vh;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.carousel .carousel-inner .carousel-item img {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 10px;
  z-index: -1;
}
.carousel .carousel-inner .carousel-item .item-content {
  font-size: 1.4rem;
  text-align: end;
  color: #8B5E3C;
  margin: 10% 10%;
  cursor: default;
}
.carousel .carousel-inner .carousel-item .item-content button {
  font-size: 1.3rem;
  border-radius: 25px;
  padding: 10px 15px;
  color: #F7F4F1;
  background-color: #91a367;
  margin-top: 20px;
  border: 2px solid #91a367;
  cursor: pointer;
  font-weight: 500;
}
.carousel .carousel-inner .carousel-item .item-content button span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.carousel .carousel-inner .carousel-item .item-content button:hover {
  color: #91a367;
  background-color: #F7F4F1;
}
@media screen and (max-width: 1300px) {
  .carousel .carousel-inner .carousel-item .item-content button {
    font-size: 1rem;
    padding: 7px 12px;
  }
}
@media (max-width: 676px) {
  .carousel .carousel-inner .carousel-item .item-content button {
    font-size: 0.95rem;
    padding: 5px 10px;
  }
}
@media (max-width: 1300px) {
  .carousel .carousel-inner .carousel-item .item-content {
    font-size: 1rem !important;
  }
}
@media (max-width: 868px) {
  .carousel .carousel-inner .carousel-item .item-content {
    text-align: center !important;
  }
  .carousel .carousel-inner .carousel-item .item-content button {
    margin-top: 10px !important;
  }
}
@media (max-width: 1300px) {
  .carousel .carousel-inner .carousel-item {
    height: 60vh;
  }
}
@media (max-width: 1024px) {
  .carousel .carousel-inner .carousel-item {
    height: 40vh !important;
  }
}
@media (max-width: 868px) {
  .carousel .carousel-inner .carousel-item {
    height: 45vh !important;
    align-items: start !important;
    justify-content: center !important;
  }
  .carousel .carousel-inner .carousel-item img {
    top: 35%;
  }
}
@media (max-width: 676px) {
  .carousel .carousel-inner .carousel-item {
    height: 50vh !important;
  }
}
.carousel .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #91a367;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.carousel .carousel-control.prev {
  left: 2%;
  border-radius: 100px;
}
.carousel .carousel-control.next {
  right: 2%;
  border-radius: 100px;
}
@media (max-width: 1300px) {
  .carousel .carousel-control {
    top: 40%;
  }
}
@media (max-width: 1024px) {
  .carousel .carousel-control {
    top: 50%;
  }
}
@media (max-width: 676px) {
  .carousel .carousel-control {
    padding: 8px;
    font-size: 1rem;
  }
}

.product_section {
  width: 100%;
  margin-top: 5%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8B5E3C;
  gap: 20px;
  font-size: 2.2rem;
}
.product_section .product-content {
  width: 100%;
  text-align: center;
}
.product_section .product-content .product-images {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 2% 0;
}
.product_section .product-content .product-images img {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #8B5E3C;
}
@media (max-width: 1300px) {
  .product_section .product-content .product-images img {
    width: 120px !important;
  }
}
@media (max-width: 1024px) {
  .product_section .product-content .product-images img {
    width: 95px;
  }
}
@media (max-width: 676px) {
  .product_section .product-content .product-images img {
    width: 80px !important;
  }
}
.product_section .product-content .product-features ul {
  display: flex;
  gap: 20px;
  row-gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  flex-wrap: wrap;
}
.product_section .product-content .product-features ul li {
  color: #B0B0B0;
}
@media (max-width: 676px) {
  .product_section .product-content .product-features ul li {
    font-size: 1rem !important;
  }
}
.product_section .product-content .product-features .product-bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.product_section .product-content .product-features .product-bottom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
@media (max-width: 676px) {
  .product_section .product-content .product-features .product-bottom img {
    display: none;
  }
}
.product_section .product-content .product-features .product-bottom div {
  margin-top: 10%;
  margin-right: 2%;
  text-align: end;
}
.product_section .product-content .product-features .product-bottom div button {
  font-size: 1.3rem;
  border-radius: 25px;
  padding: 10px 15px;
  color: #F7F4F1;
  background-color: #91a367;
  margin-top: 20px;
  border: 2px solid #91a367;
  cursor: pointer;
  font-weight: 500;
}
.product_section .product-content .product-features .product-bottom div button span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product_section .product-content .product-features .product-bottom div button:hover {
  color: #91a367;
  background-color: #F7F4F1;
}
@media screen and (max-width: 1300px) {
  .product_section .product-content .product-features .product-bottom div button {
    font-size: 1rem;
    padding: 7px 12px;
  }
}
@media (max-width: 676px) {
  .product_section .product-content .product-features .product-bottom div button {
    font-size: 0.95rem;
    padding: 5px 10px;
  }
}
@media (max-width: 1300px) {
  .product_section .product-content .product-features .product-bottom div h2 {
    font-size: 2rem;
  }
}
@media (max-width: 868px) {
  .product_section .product-content .product-features .product-bottom div {
    width: 50% !important;
  }
}
@media (max-width: 676px) {
  .product_section .product-content .product-features .product-bottom div {
    width: 100% !important;
    text-align: center;
  }
}
@media (max-width: 868px) {
  .product_section .product-content .product-features .product-bottom {
    margin: 3% 0;
  }
}
@media (max-width: 868px) {
  .product_section .product-content .product-features ul {
    margin: 5% 0;
  }
}
@media (max-width: 1300px) {
  .product_section .product-content {
    flex-direction: column;
    align-items: center;
  }
  .product_section .product-content h5 {
    font-size: 1.5rem;
  }
}
@media (max-width: 868px) {
  .product_section .product-content {
    margin-top: 0px;
  }
}
@media (max-width: 676px) {
  .product_section .product-content {
    margin: 7% 0;
  }
  .product_section .product-content .product-bottom div h2 {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 868px) {
  .product_section {
    font-size: 1.8rem;
  }
}

.customer-section {
  margin-top: 20%;
  padding: 10px 2%;
}
@media (max-width: 868px) {
  .customer-section {
    margin-top: 5%;
  }
}

.container {
  width: 100%;
  height: 300px;
  position: relative;
}
.container h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #8B5E3C;
}
@media (max-width: 676px) {
  .container h2 {
    font-size: 1rem !important;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  color: #F7F4F1;
  background-color: #91a367;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow--next {
  right: 0;
}
.arrow--prev {
  left: 0;
}
@media (max-width: 676px) {
  .arrow {
    padding: 8px;
    font-size: 1rem;
  }
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.slider .slider__item {
  width: 20%;
  height: 200px;
  background: #A4D3E1;
  transform-origin: 50% 50%;
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  left: 50%;
  opacity: 0;
  z-index: 10;
}
.slider .slider__item[data-position="0"] {
  left: 50%;
  z-index: 25;
  opacity: 1;
}
.slider .slider__item[data-position="1"], .slider .slider__item[data-position="4"] {
  width: 17%;
  height: 150px;
  opacity: 0.6;
  z-index: 20;
}
.slider .slider__item[data-position="1"] {
  left: 30%;
}
.slider .slider__item[data-position="4"] {
  left: 70%;
}
.slider .slider__item[data-position="2"], .slider .slider__item[data-position="3"] {
  width: 15%;
  height: 120px;
  opacity: 0.3;
  z-index: 15;
}
.slider .slider__item[data-position="2"] {
  left: 12.5%;
}
.slider .slider__item[data-position="3"] {
  left: 87.5%;
}

.footer-section {
  width: 100%;
  height: auto;
  color: #F7F4F1;
  margin-top: 4%;
}

.footer-content {
  font-size: 1.2rem;
  width: 100%;
  padding: 4% 0;
  background-color: #7D8F59;
}
.footer-content .footerlinks {
  text-align: center;
}
.footer-content .footerlinks span a {
  color: #F7F4F1;
}
.footer-content .social-links {
  margin-top: 20px;
}
.footer-content .social-links span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-content .social-links span a {
  color: #F7F4F1;
  cursor: pointer;
  font-size: 1.3rem;
}
@media (max-width: 676px) {
  .footer-content .social-links span a {
    font-size: 1rem !important;
  }
}
.footer-content .footer-bottom {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 676px) {
  .footer-content .footer-bottom {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 1300px) {
  .footer-content {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .footer-content {
    font-size: 0.9rem;
  }
}
@media (max-width: 868px) {
  .footer-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 676px) {
  h5 {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=main.css.map */